@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header: #003882;
  --section-header: #FFBF00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.gear-filter {
  filter: invert(64%) sepia(98%) saturate(548%) hue-rotate(359deg) brightness(101%) contrast(106%);
}